/*----------------------------------*\
		Footer
\*----------------------------------*/
.footer__links {
  a {
    font-size: 1.6rem;
    font-weight: $light;
    display: inline-block;
    margin: 0 60px;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
