/*----------------------------------*\
		Footer
\*----------------------------------*/
.footer__links {
  a {
		display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
		margin: 0 60px 0 60px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
  }
}
