/*----------------------------------*\
  	Variables
\*----------------------------------*/
/*
	Font Properties
*/
/* Font Families */
$font-primary: 'Source Sans Pro', sans-serif;
/* Font Weights */
$light: 300;
$normal: 400;
$bold: 700;
/*
	Colors
*/
$color-primary: #0acab6;
$color-gray-dark: #555;
$color-gray: #9e9e9e;
$color-gray-light: #ccc;
$color-gray-lighter: #eee;
$color-black: #000;
$color-white: #fff;
/*
	Media Query Breakpoints
*/
$extra-small-screen: 32em !default;
$small-screen: 48em !default;
$medium-screen: 64em !default;
$large-screen: 75em !default;
$extra-small-and-up: 'only screen and (min-width : #{$extra-small-screen})' !default;
$small-and-up: 'only screen and (min-width : #{$small-screen})' !default;
$medium-and-up: 'only screen and (min-width : #{$medium-screen})' !default;
$large-and-up: 'only screen and (min-width : #{$large-screen})' !default;
$medium-only: 'only screen and (min-width : #{$medium-screen}) and (max-width : #{$large-screen})' !default;
$extra-small-max: 'only screen and (max-width : #{$extra-small-screen})' !default;
$extra-small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$small-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$large-screen})' !default;
/*
	Transitions
*/
@mixin transition($args: 200ms) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
/*
	Transforms
*/
@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}
