@@include(markdown('header.html'))
		<!-- Start of Mailchimp Sign up Form -->
		<section class="newsletter mt90 mb150">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="newsletter__form">
							<!-- Begin MailChimp Signup Form -->
							<div id="mc_embed_signup">
								<h3 class="mt0 mb15">Get on the waitlist</h3>
								<form action="//poviolabs.us13.list-manage.com/subscribe/post?u=1dabcdd308d0de117b0ae46c4&amp;id=e160d8a9c5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<div id="mc_embed_signup_scroll">
										<div class="row">
											<div class="form-row mc-field-group">
												<input type="email" class="form-control required email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email">
											</div>
											<div class="form-row row mc-field-group">
												<div class="col-md-5">
													<input type="text" class="form-control required" value="" name="ZCODE" id="mce-ZCODE" placeholder="Zip Code">
												</div>
												<div class="col-md-7">
													<input type="submit" class="btn btn--block" value="Submit" name="subscribe" id="mc-embedded-subscribe">
												</div>
											</div>
										</div>
										<div id="mce-responses" class="text-center mt15">
											<div class="response mt15" id="mce-error-response" style="display:none"></div>
											<div class="response mt15" id="mce-success-response" style="display:none"></div>
										</div>
										<div style="position: absolute; left: -5000px;" aria-hidden="true">
											<input type="text" name="b_1dabcdd308d0de117b0ae46c4_e160d8a9c5" tabindex="-1" value="">
										</div>
									</div>
								</form>
							</div>
							<!--End mc_embed_signup-->
						</div>
					</div>
					<div class="newsletter__text col-md-12">
						<p class="text-center mt90">The premiere guide to STEM camps and activities in the SF Bay Area</p>
						<p class="text-center">Launching in late February 2016</p>
					</div>
				</div>
			</div>
		</section>
		<!-- End of Mailchimp Sign up Form -->
@@include(markdown('footer.html'))
